@use "reset";

.container {
    max-width: min(80ch, 100vw);
    margin-inline: auto;
    padding-inline: 1rem;
}

.beans{
    width: 92%;
    margin: 20px 4%;
    background-color: rgb(242, 242, 242);
    border: 1.6px solid rgb(196, 196, 196);
    border-radius: 4px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top > a {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}
.username {
    font-size: 0.8rem;
}

.date {
    color: rgb(142, 142, 142);
    font-size: 0.8rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.6px solid rgb(196, 196, 196);
}

.bottom > div {
    display: flex;
}

.text {
    margin: 3px 12px;
    max-height: 10rem;
    overflow: auto;
}