{% extends "layout.njk" %}
{% block  content %}
<main class="container mt-3">
    <div class="sak">
    {% for row in rows %}
        <div class="beans">
            <div class="top">
                <a class="title" href="">
                    {{ row.title }}
                </a>
                <p class="username">
                    @{{ row.name }}
                </p>
            </div>
            <p class="text">
                {{ row.content }}
            </p>
            <p class="date">
                {{ row.createdAt }}
            </p>
            <div class="bottom">
                <div>
                    <button>like</button>
                    <p>0</p>
                </div>
                <div>
                    <button>like</button>
                    <p>0</p>
                </div>
                <div>
                    <button>like</button>
                    <p>0</p>
                </div>
                <button>report</button>
            </div>
        </div>
    {% endfor %}
    <a id="scroll-top" href="#">Back to top</a>
    <button onclick="hahaha()" class="to-top">beans</button>
    <script>
        let mybutton = document.getElementsByClass("scroll-top");

        window.onscroll = function() {hahaha()};

        function hahaha(){
            if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                alert("be");
            } 
        }
    </script>
</div>
</main>
{% endblock %}