<nav>
    <a href="/">Gregers</a>
    
    {% if user %}
        <div>
            <a href="/new">Nytt inlägg</a>
            <a href="/profile">Profil</a>
        </div>
    {% else %}
        <div>
            <a href="/login">Logga in</a>
            <a href="/register">Registrera</a>
        </div>
    {% endif %}
</nav>